@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;800&display=swap');
:root {
    --primary: #37287b;
    --secondary: #4942a2;
    --accents: #fba60b;
    --black: #121212;
    --white: #fff;
    --text: #878787;
    --gray: #1f242a;
    --fontFamily: 'Open Sans', sans-serif;
    --fontSize: 16px;
    --transition: .4s ease;
}
body {
    font-family: var(--fontFamily);
    font-size: var(--fontSize);
}
.button {
    padding: 10px 30px;
    font-size: 1rem;
    text-transform: uppercase;
    background: var(--accents);
    border-radius: 30px;
    text-decoration: none;
    color: var(--white);
}
.button:hover {
    background: #e3960a;
    text-decoration: none;
    color: var(--white);
    transition: var(--transition);
}
/***************
nav
***************/
.navbar-brand {
    font-size: 3rem;
    font-weight: 800;
    letter-spacing: 2px;
    color: var(--white);
}
.navbar-brand:hover {
    transition: var(--transition);
    color: var(--accents);
}
.nav-link {
    color: var(--primary);
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav-link:hover {
    transition: var(--transition);
    color: var(--accents);
}
/***************
header
***************/
.mainHeader {
    background-image: linear-gradient(to right,rgba(55, 40, 123, .9), rgba(255,255,255,.99)),  url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 90vh;
    clip-path: polygon(0 0, 100% 0%, 100% 70%, 0% 100%);
}
.mainHeader .row {
    height: 90vh;
}
.mainHeader i {
    background: var(--accents);
    padding: 15px;
    font-size: 2rem;
    border-radius: 15px;
    margin-bottom: 20px;
}
.mainHeader h1 {
    font-size: 3rem;
}
